name: Black Formatter

on: 
  push:
    branches:
      - '**'

jobs:
  format:
    if: "!startsWith(github.event.head_commit.message, 'Merge pull request')"

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Install black
      run: pip install black

    - name: Run black
      run: black .

    - name: Save commit message
      id: vars
      run: |
        COMMIT_MSG=$(git log -1 --pretty=%B | tr -d '\n')
        echo "COMMIT_MSG=$COMMIT_MSG" >> $GITHUB_ENV

    - name: Commit changes
      run: |
        git config --local user.name "github-actions[bot]"
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "${{ env.COMMIT_MSG }}" || echo "No changes to commit"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Push changes
      run: git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
